.cards{
  width: 50%;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}
.services{
  display: flex;
  align-items: center;
}
.content{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 4px;
  transition: all .3s ease;
}
.content > *{
  flex: 1 1 100%;
}
.content:hover{
  color: white;
}
.content-3:hover{
  border-color: #ff0000;
  background: #ff0000;
}
.content-3:hover a{
  color: #ff0000;
}
.content h2{
  font-size: 30px;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.content p{
  font-size: 17px;
  font-family: 'Poppins',sans-serif;
}
span{
	font-size: 15px;
}
hr{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	height: 1px;
}
	

